:root {
    --text-primary: #1C1C1E;
    --bg-secondary: #EDEDED;
    --text-secondary: #737373;
    --bg-main: #FAFAFA;
    --accent: #A67C52;
    --button-bg: #E09E5A;
    --button-bg-hover: #CA8645;
    --button-text: #FFFFFF;
  }
  
  /* Globales*/
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-primary);  
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  img, video {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
  }

  p {

    font-weight: 2rem;

  }


/* Header */
.Header {
    background-color: var(--bg-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .Header__branding {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--accent);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  
  .Header__nav {
    display: flex;
    gap: 2rem;
  }
  
  .Header__menu {
    display: flex;
    gap: 1.5rem;
  }
  
  .Header__menu-link {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.8rem 1.5rem;
    transition: background-color 0.4s ease, color 0.4s ease;
    letter-spacing: 0.12rem; 
    text-transform: capitalize;
    border: 1px solid transparent;
  }
  
  .Header__menu-link:hover {
    color: var(--bg-main);
    background-color: var(--accent);
    border-radius: 50px;
    border: 1px solid var(--accent);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .Header__icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
  .Header__icons img {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .Header__icons img:hover {
    transform: scale(1.1);
  }
  
  .Header__shipping {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.8rem;
    color: var(--text-primary);
    font-weight: 500;
  }
  
  .Header__shipping picture {
    display: flex;
    align-items: center;
  }
  
  .Header__shipping picture img {
    width: 3rem;
    height: auto;
  }
  
  /* Responsive Header */
  @media screen and (max-width: 1024px) {
    .Header {
      flex-direction: column;
      padding: 1rem 1.5rem;
    }
  
    .Header__branding {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  
    .Header__nav {
      justify-content: center;
      width: 100%;
    }
  
    .Header__menu {
      flex-wrap: nowrap;
      justify-content: center;
      gap: 1rem;
    }
  
    .Header__icons {
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
    }
  
    .Header__shipping {
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Header {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  
    .Header__menu {
      flex-direction: row;
      gap: 1rem;
      display: flex;
      justify-content: center;
    }
  
    .Header__icons {
      margin-top: 1rem;
    }
  
    .Header__icons img {
      width: 2rem;
      height: 2rem;
    }
  
    .Header__shipping {
      font-size: 1.8rem;
      margin-top: 1rem;
      text-align: center;
    }
  
  }

/* Entrada de BLOG */
/* Estilos para la entrada de blog */
.Blog {
    max-width: 80rem; /* Ancho máximo */
    margin: 0 auto; /* Centrar el contenido */
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-primary);
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
  }
  
  .Blog__post {
    background-color: var(--bg-main);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupar todo el ancho disponible */
  }
  
  .Blog__post p {
    text-align: justify; /* Texto justificado */
  }
  
  .Blog__image {
    width: 50%; /* Reducir el ancho de la imagen */
    height: auto; /* Mantener la proporción */
    border-radius: 12px;
    margin-bottom: 2rem;
    display: block; /* Asegurar que la imagen sea un bloque */
    margin-left: auto; /* Centrar la imagen */
    margin-right: auto;
  }
  
  .Blog__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .Blog__date {
    font-size: 1.5rem;
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .Blog__content {
    font-size: 1.2rem;
    color: var(--text-primary);
  }
  
  .Blog__subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-primary);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .Blog__strong {
    font-weight: bold;
    color: var(--accent);
  }
  
  .Blog__em {
    font-style: italic;
  }
  
  .Blog__list {
    list-style-type: disc;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .Blog__list-item {
    margin-bottom: 0.5rem;
  }
  
  .Blog__content a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
  }
  
  .Blog__content a:hover {
    text-decoration: underline;
  }


  @media screen and (max-width: 1024px) {
    .Blog__post {
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Blog__post {
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .Blog__post {
      margin-top: 12rem;
    }
  }


/* Footer */


.Footer {
    background-color: var(--accent);
    color: var(--button-text);
    padding: 4rem 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .Footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .Footer__section {
    flex: 1 1 calc(25% - 2rem);
    min-width: 250px;
    text-align: center;
  }
  
  .Footer__title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--button-text);
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .Footer__text {
    font-size: 1.6rem;
    color: var(--bg-main);
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .Footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .Footer__link {
    font-size: 1.6rem;
    color: var(--button-text);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
  }
  
  .Footer__link:hover {
    color: var(--button-bg-hover);
    transform: translateY(-2px);
  }
  
  .Footer__legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .Footer__legal-text {
    font-size: 1.4rem;
    color: var(--button-text);
  }
  
  .Footer__legal-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Footer__contact-info {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--button-text);
  }
  
  /* Responsive Footer */
  
  @media screen and (max-width: 1024px) {
    .Footer__container {
      justify-content: center;
      text-align: center;
    }
  
    .Footer__section {
      flex: 1 1 100%;
    }
  
    .Footer__legal {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  
    .Footer__legal-list {
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Footer {
      padding: 3rem 1.5rem;
    }
  
    .Footer__section {
      flex: 1 1 100%;
      text-align: center;
    }
  
    .Footer__legal-text {
      font-size: 1.4rem;
    }
  
    .Footer__contact-info {
      font-size: 1.4rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .Footer {
      padding: 2rem 1rem;
    }
  
    .Footer__title {
      font-size: 1.8rem;
    }
  
    .Footer__text,
    .Footer__link {
      font-size: 1.4rem;
    }
  
    .Footer__contact-info {
      font-size: 1.4rem;
    }
  }
  
  